<body>
    <div class="container">
        <div class="header">
            <h1>PERUBAHAN PASSWORD</h1>
        </div>
        <div class="content">
            <p>Yth. [UserName],</p>
            <p>Kami ingin memberitahukan bahwa kata sandi Anda telah berhasil diperbarui.</p>
            <p>Detail akun:</p>
            <ul>
                <li><strong>Email:</strong> [UserEmail]</li>
                <li><strong>Tanggal Perubahan:</strong> [Date]</li>
            </ul>
            <p>Demi keamanan akun Anda, sebaiknya periksa pengaturan akun Anda untuk memastikan semua informasi pribadi Anda masih akurat.</p>
            </br>
