<body>
    <div class="container">
        <div class="header">
            <h1>CHANGE PASSWORD</h1>
        </div>
        <div class="content">
            <p>Dear [UserName],</p>
            <p>We wanted to let you know that your password has been successfully updated.</p>
            <p>Account Details::</p>
            <ul>
                <li><strong>Email:</strong> [UserEmail]</li>
                <li><strong>Change Date:</strong> [Date]</li>
            </ul>
            <p>For your account security, we recommend checking your account settings to ensure all your personal information is still accurate.</p>
            </br>
