<p>Salam,</p>
<p>[OrganizationName]</p>
</br>
<p>Jika Anda memiliki pertanyaan atau memerlukan bantuan lebih lanjut, jangan ragu untuk menghubungi tim dukungan kami.</p>
</div>

<div class="footer">
    <p>Ikuti kami di media sosial:</p>
    <ul class="social-media">
        <li>
            <a href="[UrlOrganizationFacebook]" target="_blank">
                <img src="cid:[IconFacebook]" alt="Twitter">
            </a>
        </li>
        <li>
            <a href="[UrlOrganizationTwitter]" target="_blank">
                <img src="cid:[IconTwitter]" alt="Twitter">
            </a>
        </li>
        <li>
            <a href="[UrlOrganizationInstagram]" target="_blank">
                <img src="cid:[IconInstagram]" alt="Instagram">
            </a>
        </li>
        <li>
            <a href="[UrlOrganizationTiktok]" target="_blank">
                <img src="cid:[IconTiktok]" alt="Tiktok">
            </a>
        </li>
        <li>
            <a href="[UrlOrganizationYoutube]" target="_blank">
                <img src="cid:[IconYoutube]"
                    alt="Youtube">
            </a>
        </li>
        <li>
            <a href="[UrlOrganizationWhatsapp]" target="_blank">
                <img src="cid:[IconWhatsapp]"
                    alt="Whatsapp">
            </a>
        </li>
    </ul>
    <p>&copy; [Year] [OrganizationName]. All rights reserved.</p>
</div>
</div>
</body>

</html>