<body>
    <div class="container">
        <div class="header">
            <h1>AKTIVASI AKUN</h1>
        </div>
        <div class="content">
            <p>Yth. [FULLNAME],</p>
            <p>Terima kasih telah mendaftar bersama kami. Akun anda sudah diaktifkan</p>
            <p>Berikut rincian pendaftaran Anda:</p>
            <ul>
                <li><strong>Email:</strong> [EMAIL]</li>
                <li><strong>Username:</strong> [USERNAME]</li>
                <li><strong>Password:</strong> [PASSWORD]</li>
            </ul>
            <p>Untuk keamanan silahkan segera ganti password anda</p>
            </br>
