<body>
    <div class="container">
        <div class="header">
            <h1>USER PROFILE EDIT</h1>
        </div>
        <div class="content">
            <p>Dear [FULLNAME],</p>
            <p>We inform you that changes have been made to your data on [UPDATEDDATE] by [UPDATEDBY] as follows:</p>
            <table class = "table">
                <tr>
                    <th>ATTRIBUTE</th>
                    <th>BEFORE</th>
                    <th>AFTER</th>
                </tr>
                <tr>
                    <td>nama_depan</td>
                    <td>[FIRSTNAME_OLD]</td>
                    <td>[FIRSTNAME_NEW]</td>
                </tr>
                <tr>
                    <td>nama_tengah</td>
                    <td>[MIDDLENAME_OLD]</td>
                    <td>[MIDDLENAME_NEW]</td>
                </tr>
                <tr>
                    <td>alamat</td>
                    <td>[LASTNAME_OLD]</td>
                    <td>[LASTNAME_NEW]</td>
                </tr>
                <tr>
                    <td>no_telpon</td>
                    <td>[PHONENUMBER_OLD]</td>
                    <td>[PHONENUMBER_NEW]</td>
                </tr>
                <tr>
                    <td>no_handphone</td>
                    <td>[MOBILENUMBER_OLD]</td>
                    <td>[MOBILENUMBER_NEW]</td>
                </tr>
            </table>
            </br>
