<body>
    <div class="container">
        <div class="header">
            <h1>EDIT DATA PENGGUNA</h1>
        </div>
        <div class="content">
            <p>Yth. [FULLNAME],</p>
            <p>Kami menginformasikan bahwa sudah dilakukan perubahan data anda yang dilakukan pada hari/tanggal [UPDATEDDATE] oleh [UPDATEDBY] sebagai berikut:</p>
            <table class = "table">
                <tr>
                    <th>ATRIBUT</th>
                    <th>SEBELUM</th>
                    <th>SESUDAH</th>
                </tr>
                <tr>
                    <td>username</td>
                    <td>[USERNAME_OLD]</td>
                    <td>[USERNAME_NEW]</td>
                </tr>
                <tr>
                    <td>email</td>
                    <td>[EMAIL_OLD]</td>
                    <td>[EMAIL_NEW]</td>
                </tr>
                <tr>
                    <td>nama_depan</td>
                    <td>[FIRSTNAME_OLD]</td>
                    <td>[FIRSTNAME_NEW]</td>
                </tr>
                <tr>
                    <td>nama_tengah</td>
                    <td>[MIDDLENAME_OLD]</td>
                    <td>[MIDDLENAME_NEW]</td>
                </tr>
                <tr>
                    <td>alamat</td>
                    <td>[LASTNAME_OLD]</td>
                    <td>[LASTNAME_NEW]</td>
                </tr>
                <tr>
                    <td>no_telpon</td>
                    <td>[PHONENUMBER_OLD]</td>
                    <td>[PHONENUMBER_NEW]</td>
                </tr>
                <tr>
                    <td>no_handphone</td>
                    <td>[MOBILENUMBER_OLD]</td>
                    <td>[MOBILENUMBER_NEW]</td>
                </tr>
            </table>
            </br>
