<body>
    <div class="container">
        <div class="header">
            <h1>ACCOUNT DEACTIVATION</h1>
        </div>
        <div class="content">
            <p>Dear [FULLNAME],</p>
            <p>Thank you for joining us. Your account is temporarily deactivated.</p>
            <p>Here are your registration details:</p>
            <ul>
                <li><strong>Email:</strong> [EMAIL]</li>
                <li><strong>Username:</strong> [USERNAME]</li>
            </ul>
            <p>For the time being you cannot use our application.</p>
            </br>
