<body>
    <div class="container">
        <div class="header">
            <h1>ACCOUNT DELETED</h1>
        </div>
        <div class="content">
            <p>Dear [FULLNAME],</p>
            <p>Thank you for joining us. Your account has been deleted.</p>
            <p>Here are your account details:</p>
            <ul>
                <li><strong>Email:</strong> [EMAIL]</li>
                <li><strong>Username:</strong> [USERNAME]</li>
            </ul>
            <p>From now on, you cannot use our app.</p>
            </br>
