<body>
    <div class="container">
        <div class="header">
            <h1>PENONAKTIFAN AKUN</h1>
        </div>
        <div class="content">
            <p>Yth. [FULLNAME],</p>
            <p>Terima kasih telah bergabung dengan kami. Akun Anda dinonaktifkan sementara.</p>
            <p>Berikut rincian pendaftaran Anda:</p>
            <ul>
                <li><strong>Email:</strong> [EMAIL]</li>
                <li><strong>Username:</strong> [USERNAME]</li>
            </ul>
            <p>Untuk sementara waktu, Anda tidak dapat menggunakan aplikasi kami.</p>
            </br>
